<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <%- include('./partials/navbar')%>

        <%- include('./partials/contact')%>
        <%- include('./partials/footer')%>




    </body>
</html>